.publications-item {
    clear: both;
    overflow: hidden;
    padding-bottom: 3em;
  }
  
  .publications-bubble {
    float: left;
    padding-right: 20px;
    width: 200px;
    height: 200px;
    object-fit: contain; /* 이미지의 원본 비율을 유지합니다 */
  }

  .publications-text {
    display: block;
    font-weight: bold;
    color: black; 
  }
  .publications-authors {
    display: block;
    color: grey; 
  }

  .publications-link {
    color: black
  }
  
  .publications-authors strong { 
    color: darkslategrey;
  }

  .publications-conference {
    display: block; 
    color: black
  }