.timeline-container {
  width: 100%;
  max-width: 10000px;
  position: relative;
  margin: 20px auto;
  padding: 20px;
}

.timeline-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 6px; /* 중심선 두께 */
  background-color: #d0d0d0; /* 중심선 색상 */
}

.timeline-item {
  position: relative;
  margin: 30px 0;
}

.image-wrapper {
  position: absolute;
  top: 50%; /* 타임라인에서 수직 중앙 */
  left: 50%; /* 중심선에 정렬 */
  transform: translate(-50%, -50%); /* 중심 기준으로 이동 */
  z-index: 2; /* 이미지가 다른 요소 위로 오도록 */
}

.timeline-image {
  width: 150px; /* 이미지 너비 */
  height: 150px; /* 이미지 높이 */
  border-radius: 0%; /* 이미지가 원형으로 표시 */
  object-fit: cover; /* 이미지가 래퍼 안에 맞게 크기 조정 */
}


.timeline-item.left .content {
  margin-right: calc(50% -70px); /* 이미지 크기 + 추가 여백 */
  text-align: right; /* 텍스트는 오른쪽 정렬 */
  max-width: 1000px;
  position: relative;
  padding: 20px
}
/* 타임라인 콘텐츠 (오른쪽) */
.timeline-item.right .content {
  margin-left: calc(50% + 100px); /* 이미지 크기 + 추가 여백 */
  text-align: left; /* 텍스트는 왼쪽 정렬 */
  max-width: 1000px;
  position: relative;
  padding: 20px
}


.timeline-item .time {
  color: #888;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.timeline-item .title {
  font-weight: bold;
  font-size: 1.1em;
  color: #333;
}

.timeline-item .description {
  margin-top: 10px;
  font-size: 0.95em;
  color: #555;
}